<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat with PDF</title>
</head>
<body>
    <div style="display: block; margin: auto;">
        <h1>WELCOME....</h1>

        <h3>Chat with your PDF</h3>

        <h1><a href="/chat?utc_source=landing">CHAT NOW</a></h1>

        <h4>Instructions</h4>
        <ul>
            <li>Upload the PDF</li>
            <li>Ask any question</li>
            <li>Question can or can not be from the PDF</li>
            <li>PDF should have maximum of <b>five pages</b> or less</li>
        </ul>
    </div>
</body>
</html>