<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbot UI</title>
    <!-- Import Tailwind CSS stylesheet -->
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/258973f2c5.js" crossorigin="anonymous"></script>
</head>

<body class="bg-gradient-to-br from-indigo-300 to-green-300">
    <div class="container mx-auto max-w-4xl p-4">
        <!-- Header section -->
        <div
            class="bg-gradient-to-br from-indigo-200 to-green-100 px-4 py-3 flex justify-between items-center rounded-t-xl">
            <h3 class="text-lg font-bold text-gray-800 font-mono">Comprehension Analyzer</h3>
            <div class="flex items-center space-x-4">
                <button class="p-2">
                    <i class="fas fa-share text-gray-600 hover:text-gray-900"></i>
                </button>
                <button class="p-2" onclick="CopyResponse(this);">
                    <i id="cpybtn" class="fas fa-copy text-gray-600 hover:text-gray-900"></i>
                </button>
                <button class="p-2" onclick="ClearInputArea();">
                    <i class="fas fa-times text-red-400 hover:text-red-700"></i>
                </button>
            </div>
        </div>
        <div class="bg-gray-100 p-4">
            <div class="chat-history h-[77vh] overflow-y-auto">
                <!-- Chat messages will be displayed here -->
            </div>
            <div class="relative input-field">
                <form id="form" enctype="multipart/form-data">
                    <input type="text" name="message" id="message"
                        class="bg-white rounded-full border border-gray-300 focus:outline-none focus:ring focus:ring-indigo-100 py-2 pr-4 pl-12 block w-full appearance-none leading-normal"
                        placeholder="Type your message...">
                    <div class="absolute inset-y-0 right-0 flex items-center">
                        <button type="submit"
                            class="bg-indigo-500 text-white font-bold py-2 px-4 rounded-full focus:outline-none focus:shadow-outline hover:bg-indigo-600">
                            <i class="fas fa-paper-plane"></i>
                        </button>
                    </div>
                    <div class="absolute inset-y-0 left-0 flex items-center pl-4">
                        <label class="cursor-pointer mr-2" for="file_input">
                            <i id="btnIcon" class="fa-sharp fa-regular fa-file-pdf fa-xl text-[#3c3adf]"></i>
                        </label>
                        {% csrf_token %}
                        <input type="file" accept="application/pdf" onchange="fileBTNCHANGE()" name="pdf_file" id="file_input" style="width: 0px;">
                    </div>
                </form>    
            </div>
        </div>
    </div>

    <script>

       

        function ClearInputArea(){
            document.getElementById("message").value = "";
            document.getElementById("file_input").value = "";
            fileBTNCHANGE();
        }

        function fileBTNCHANGE() {
            if(document.getElementById("file_input").value != ""){
                document.getElementById("btnIcon").style.color = "red";
            }else{
                document.getElementById("btnIcon").style.color = "#3c3adf";
            }
        }

        function CopyResponse(){
            const elements = document.querySelectorAll(".bot-response-copy"); // select all elements
            const lastElement = elements[elements.length - 1]; 
            navigator.clipboard.writeText(lastElement.innerText)
            .then(() => document.getElementById("cpybtn").style.color = "blue" )
            .catch((error) => console.error(error))

        }
        

        // Get references to the chat history container, input field, and send button
        const chatHistory = document.querySelector('.chat-history');
        // Function to send a message
        function sendMessage(message) {
            // Add the user's message to the chat history container
            const userMessage = `
                <div class="flex items-center justify-end mt-2">
                <div class="rounded-3xl bg-indigo-400 text-white py-2 px-4 mr-2">${message}</div>
                <div class="text-gray-400 text-sm font-semibold">${new Date().toLocaleTimeString([], { hour: 'numeric', minute: 'numeric', hour12: true })}</div>
                </div>
            `;
            chatHistory.insertAdjacentHTML('beforeend', userMessage);
        }

        function responseBotMessage(message, buttons){
            const botResponse = `
                <div class="flex items-center mt-2 bot-response-copy">
                    <div class="rounded-3xl bg-gray-200 text-gray-900 py-2 px-4 ml-2 mr-2">${ProcessTheMessage(message, buttons)}</div>
                    <div class="text-gray-400 text-sm font-semibold">${new Date().toLocaleTimeString([], { hour: 'numeric', minute: 'numeric', hour12: true })}</div>
                </div>
                `;
            chatHistory.insertAdjacentHTML('beforeend', botResponse);
        }
        
        // Function to process the user's message and generate a response
        function ProcessTheMessage(message, buttons={"btn1" : "", "btn2" : "", "btn3" : "" }) {
            // Placeholder code - replace with your own logic to generate a response
            return `
                <div class="text-gray-700 p-1">
                    <p class="my-2 mb-3">${message}</p>
                    <!-- <div class="flex justify-center space-x-4">
                    <button class="bg-indigo-500 hover:bg-indigo-600 text-white font-semibold py-2 px-4 rounded-full focus:outline-none focus:shadow-outline">${buttons.btn1}</button>
                    <button class="bg-indigo-500 hover:bg-indigo-600 text-white font-semibold py-2 px-4 rounded-full focus:outline-none focus:shadow-outline">${buttons.btn2}</button>
                    <button class="bg-indigo-500 hover:bg-indigo-600 text-white font-semibold py-2 px-4 rounded-full focus:outline-none focus:shadow-outline">${buttons.btn3}</button>
                    </div> -->
                </div>
            `;
        }


    const room_id = `{{request.user.userprofile.room_id}}`;
    let url = `ws://${window.location.host}/ws/socket-server/chat/?room_id=${room_id}`

    const chatSocket = new WebSocket(url)

    chatSocket.onmessage = function (e) {
        let data = JSON.parse(e.data)
        console.log('Data:', data)

        if (data.type === 'chat') {
            let messages = document.getElementById('messages');

            if(data.sent_by === 'user'){
                sendMessage(data.message) ;
            }else{
                buttons = {
                    "btn1" : "Summarize",
                    "btn2" : "Table of Contents",
                    "btn3" :  "Q & A"
                }
                responseBotMessage(data.message, buttons);
            }
        }
    }

    let form = document.getElementById('form')
    form.addEventListener('submit', (e) => {
        e.preventDefault()

        if(document.getElementById("file_input").value != ""){
            // upload the file

            const csrfToken = document.getElementsByName('csrfmiddlewaretoken')[0].value;
            const fileInput = document.getElementById('file_input');
            const file = fileInput.files[0];
            const formData = new FormData();
            formData.append('csrfmiddlewaretoken', csrfToken);
            formData.append('pdf_file', file);
            formData.append('room_id', room_id);

            fetch('/upload/file/', {
                method: 'POST',
                headers: {
                    'X-CSRFToken': csrfToken
                },
                body: formData
            })
            .then((response) => response.json())
            .then((result) => {
                
                result = JSON.parse(result) ;
                sendMessage(result.message);
                if(result.status_code === 200){
                    responseBotMessage(result.user_msg);
                }
            })
            .catch(error => console.error(error));
            
        }else{
            let message = e.target.message.value
            if (message != ''){
                chatSocket.send(JSON.stringify({
                    'message': message,
                    'sent_by' : 'user',
                    'user' : '{{request.user.userprofile.p_id}}',
                }))
            }    
        }

        

        
        form.reset()
    });


</script>

</body>

</html>